
.search {
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: var(--primary-500);
    display: flex;
    justify-content: center;
}

.search__wrapper {
    position: relative;
    width: 100%;
    max-width: 680px;
}

.search__input {
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid var(--dark-neutral-200);
    font-family: var(--font-secondary);
    font-size: 0.75rem;
}

.search__icon {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--dark-neutral-400);
}