
.subnav {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: var(--light-neutral-100);
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 768px) {
    .subnav {
        justify-content: center;
    }
}

.subnav__link {
    cursor: pointer;
    flex-shrink: 0;
    white-space: nowrap;
    text-decoration: none;
    color: var(--dark-neutral-500);
    font-size: 0.875rem;
}

.subnav__link--active {
    color: var(--primary-600);
    font-weight: bold;
}
